/vendor
/authentication
/crud
/flowbite-admin-dashboard-main
.idea/Human-Resource-Management-System.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/composer.xml
uploads/6679e8b1ea7f13.34136422.png
uploads/6679e93ba35961.41193023.png
uploads/6679ee9185d8d5.60377050.png
uploads/448638689_384385507956548_6620718741016645758_n.jpg
uploads/screencapture-localhost-Human-Resource-Management-System-recruitment-php-2024-06-21-23_47_14.png
